/*-------- GLOBAL STYLES ---------*/

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/*-------- UTILITY ---------*/

.content-width {
    width: 330px;
    margin: auto;
}

/*-------- HEADER for mobile---------*/
header {
    display: flex;
    height: 80px;
    background-color: #4f772d;
}

header img {
    margin: auto 20px;
    width: 70px;
}

header nav {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.toggle {
    padding: 30px;
    align-self: flex-end;
    position: absolute;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 50px 0 10px 0;
    display: none;
}

header ul li {
    width: 120px;
    padding: 15px;
    text-align: right;
    text-transform: uppercase;
    background-color: #4f772d;
}

header li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

.show-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*------- HERO for mobile ---------*/

.hero {
    background-image: url("images/farm-img.jpg");
    background-size: cover;
    height: 70vh;
    text-align: center;
}

.hero-contents {
    width: 330px;
    margin: auto;
}

.hero h1 {
    margin: 0;
    padding-top: 300px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
    align-items: center;
}

.hero p {
    padding: 5px 20px;
    font-weight: 500;
    color: white;
}