/*-------- GLOBAL STYLES ---------*/

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
}

h1,
h2 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

/*-------- UTILITY ---------*/

.content-width {
    width: 330px;
    margin: auto;
}

/*--- MOBILE ---*/
/*-------- HEADER ---------*/
header {
    display: flex;
    height: 80px;
    background-color: #4f772d;
}

header img {
    margin: auto 20px;
    width: 70px;
}

header nav {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.toggle {
    padding: 30px;
    align-self: flex-end;
    position: absolute;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 50px 0 10px 0;
    display: none;
}

header ul li {
    width: 120px;
    padding: 15px;
    text-align: right;
    text-transform: uppercase;
    background-color: #4f772d;
}

header li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

.show-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*------- HERO ---------*/

.hero {
    background-image: url("images/farm-img.jpg");
    background-size: cover;
    height: 70vh;
    text-align: center;
}

.hero-contents {
    width: 330px;
    margin: auto;
}

.hero h1 {
    padding-top: 300px;
    font-family: "Ubuntu", sans-serif;
    font-size: 3.0rem;
    text-transform: capitalize;
    color: white;
    align-items: center;
}

.hero p {
    padding: 5px 20px;
    font-weight: 500;
    color: white;
}

/*-------- WHAT-WE-DO ---------*/

.what-we-do {
    background-color: #4f772d;
    color: white;
    text-align: center;
    padding: 50px 0;
}

/*--------- ABOUT US ---------*/

.about-us {
    width: 330px;
    margin: auto;
    padding: 50px 0;
    color: #132a13;
}

.about-us p {
    margin: 0;
    padding: 20px 0 30px;
}

.about-us a {
    text-decoration: none;
    text-transform: uppercase;
    color: #4f772d;
    margin-top: 20px;
    padding: 10px 0;
}

/*--------- CALL TO ACTION ---------*/

.call-to-action {
    width: 330px;
    height: 30vh;
    margin: auto;
    background-color: #4f772d;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.call-to-action h2 {
    font-size: 3.0rem;
}

.call-to-action a {
    text-decoration: none;
    background-color: #ecf39e;
    color: #132a13;
    margin: 20px auto 0;
    padding: 10px 20px;
    border-radius: 20px;
}